# Auto detect text files and perform LF normalization
* text=auto

# Explicitly force LF for shell scripts and other sensitive files
*.sh text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.json text eol=lf
